@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

// Breakpoints
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";


// declarando as variáveis da cascata
@white: #FFF;
@green: #db3745;
@green-dark: darken(@green, 15%);
@silver: #CCCCCC;
@silver-dark: darken(@silver, 50%);

html {
  font-family: 'Roboto Slab', serif;
}

body{
  overflow-x:hidden;
}

header{
  
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

  md-toolbar section{
    text-align:right;
  }

md-toolbar.md-default-theme.c4-toolbar {
  background-color: fade(#FFFFFF, 100%);
  position:fixed;
  z-index:3000;
  box-shadow: 0px 0px 2px 0px rgba(102, 102, 102, 0.27);
  margin-top: 50px;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

md-card{
  margin:50px 0px 0px;
  padding:0px;
  
  md-card-content{
    h3{
      display:none;
    }
    p{
      display:none;
    }
  }
}

.slide{
  display:none;
  position:absolute;
  width:100%;
  z-index:998;
  background:#FFFFFF;
}

.slide.selected{
  z-index:1000;
  display:block;
  /*overflow-x: hidden;*/
}
.slide.last_selected{
  z-index:999;
  display:block;
}
.slide_off{
  display:none !important;
}

.e-content{
  position:relative;
}

.legend{  
  position:fixed;
  width:100%;
  z-index:2000;
  bottom:0px;
  left:0px;
  height:70px;
  //display:none;
  
  &.hide{
    display: none;
  }

  &.show{
    display: block;
  }

  .legend-background{
    background:fade(#1d1b1b, 80%);
    height:70px;
    width:100%;
    position:absolute;
    
    
  }
  
  .legend-text {
    position:absolute;
    z-index:100;
    height:70px;
    text-align: center;
    width: 100%;

    p{
      padding:6px 10px;
      color:#fff;

    }
  }
}

  .slide-content-animate-from-right{    
    -webkit-animation: from-right .7s ease;
    -moz-animation: from-right .7s ease;   
    -o-animation: from-right .7s ease; 
    animation: from-right .7s ease; 
  }

  .slide-from-right{
    from {
      right: 100%;
    }

    to {
      right: 0%;
    }
  }
  
  @-webkit-keyframes from-right {.slide-from-right}
  @-moz-keyframes from-right {.slide-from-right}
  @-o-keyframes from-right {.slide-from-right}  
  @keyframes from-right {.slide-from-right}
  
  
  .slide-content-animate-out-right{ 
    -webkit-animation: from_right_out .7s ease;
    -moz-animation: from_right_out .7s ease;   
    -o-animation: from_right_out .7s ease; 
    animation: from_right_out .7s ease; 
    right:-100%;
  }

  .slide-out-right{
    from {
      right:0%;
    }

    to {
      right:-100%;
    }
  }

  @-webkit-keyframes from_right_out {.slide-out-right}
  @-moz-keyframes from_right_out {.slide-out-right}
  @-o-keyframes from_right_out {.slide-out-right}
  @keyframes from_right_out {.slide-out-right}
  
  
  .slide-content-animate-from-left{    
    -webkit-animation: from-left .7s ease;
    -moz-animation: from-left .7s ease;   
    -o-animation: from-left .7s ease; 
    animation: from-left .7s ease; 
  }

  .slide-from-left{
    from {
      left: 100%;
    }

    to {
      left: 0%;
    }
  }
  
  @-webkit-keyframes from-left {.slide-from-left}
  @-moz-keyframes from-left {.slide-from-left}
  @-o-keyframes from-left {.slide-from-left}  
  @keyframes from-left {.slide-from-left}
  

  .slide-content-animate-out-left{ 
    -webkit-animation: from_left_out .7s ease;
    -moz-animation: from_left_out .7s ease;   
    -o-animation: from_left_out .7s ease; 
    animation: from_left_out .7s ease;
    left:-100%;    
  }

  .slide-out-left{
    from {
      left:0%;
    }

    to {
      left:-100%;
    }
  }

  @-webkit-keyframes from_left_out {.slide-out-left}
  @-moz-keyframes from_left_out {.slide-out-left}
  @-o-keyframes from_left_out {.slide-out-left}
  @keyframes from_left_out {.slide-out-left}
  
@-webkit-keyframes slidein {
    from {
      top: 100%;
    }

    to {
      top: 0%;
      opacity:1;
    }
  }
  @-moz-keyframes slidein {
    from {
      top: 100%;
      opacity:0;
    }

    to {
      top: 0%;
      opacity:1;
    }
  }
  @-o-keyframes slidein {
    from {
      top: 100%;
      opacity:0;
    }

    to {
      top: 0%;
      opacity:1;
    }
  }
  
  @keyframes slidein {
    from {
      top: 100%;
      opacity:0;
    }

    to {
      top: 0%;
      opacity:1;
    }
  }
  
  @-webkit-keyframes slideout {
    from {
      transform: scale(1,1);
      opacity:1;
    }

    to {
      transform: scale(0.8,0.8);
      opacity:0;
    }
  }
  @-moz-keyframes slideout {
    from {
      transform: scale(1,1);
      opacity:1;
    }

    to {
      transform: scale(0.8,0.8);
      opacity:0;
    }
  }
  @-o-keyframes slideout {
    from {
      transform: scale(1,1);
      opacity:1;
    }

    to {
      transform: scale(0.8,0.8);
      opacity:0;
    }
  }
  @keyframes slideout {
    from {
      transform: scale(1,1);
      opacity:1;
    }

    to {
      transform: scale(0.8,0.8);
      opacity:0;
    }
  }
  
  .slide-content-animate-in{    
    -webkit-animation: slidein .7s ease;
    -moz-animation: slidein .7s ease;   
    -o-animation: slidein .7s ease; 
    animation: slidein .7s ease; 
    z-index:100;
  }
  
  .slide-content-animate-out{ 
    -webkit-animation: slideout 1s ease;
    -moz-animation: slideout 1s ease;   
    -o-animation: slideout 1s ease; 
    animation: slideout 1s ease; 
    top: 5%;
    transform: scale(0.8,0.8);  
  }
  
  @-webkit-keyframes slideshow {
    from {
      opacity:0;
    }

    to {
      opacity:1;
    }
  }
  @-moz-keyframes slideshow {
    from {
      opacity:0;
    }

    to {
      opacity:1;
    }
  }
  @-o-keyframes slideshow {
    from {
      opacity:0;
    }

    to {
      opacity:1;
    }
  }
  
  @keyframes slideshow {
    from {
      opacity:0;
    }

    to {
      opacity:1;
    }
  }
  
  @-webkit-keyframes slidehide {
    from {
      opacity:1;
    }

    to {
      opacity:0;
    }
  }
  @-moz-keyframes slidehide {
    from {
      opacity:1;
    }

    to {
      opacity:0;
    }
  }
  @-o-keyframes slidehide {
    from {
      opacity:1;
    }

    to {
      opacity:0;
    }
  }
  @keyframes slidehide {
    from {
      opacity:1;
    }

    to {
      opacity:0;
    }
  }
  
  .slide-content-animate-show{    
    -webkit-animation: slideshow .7s ease;
    -moz-animation: slideshow .7s ease;   
    -o-animation: slideshow .7s ease; 
    animation: slideshow .7s ease; 
  }
  
  .slide-content-animate-hide{ 
    -webkit-animation: slidehide 1s ease;
    -moz-animation: slidehide 1s ease;   
    -o-animation: slidehide 1s ease; 
    animation: slidehide 1s ease;  
  }
  
.zoom{
  display:none;
}

/* form objects */

.e-text{
  border:#FF0000 solid 1px;
  position:absolute;
  font-size:14px;
  line-height:20px; 
  color: #595752;
  font-family: arial;
  padding: 2px;
}
  .e-text.correct{
    border:#23b14a solid 1px;
  }

.e-highlight{
  cursor:pointer; 
  position:absolute;
  border:#FF0000 solid 1px;
  z-index:10100;
}

.e-radio{
  
}

  .e-radio.correct{
   
  }

.e-checkbox{
  position:absolute;
}
  .e-checkbox.correct{
   
  }

.e-select.correct{
  border:#23b14a solid 1px;
  background:#23b14a;
}

.pages{
  margin-right:30px;
}

.e-button{
  position:absolute;
}

.e-block{
  position:absolute;
  z-index:10000;
  
  img{
    display: none;    
  }

  .content_text{
    span{
      display: none;
    }
  }
}


.e-animate{
  display:none;
}


md-toolbar{
  min-height: 43px;
}
md-toolbar a {
  margin: 5px 25px;
  border-radius: 0;
  display: block;
  text-align: left;
}
md-toolbar .btns-top a{
  display: inline-block;
  margin: 5px 25px 5px 0;
  cursor: pointer;
}
md-toolbar .btns-top p{
  display: inline-block;
  color: darken(@silver, 15%);
  margin: 0 25px;
}
md-toolbar .btns-top a:hover i{
  color: @green;
}
md-toolbar i{
  color: darken(@silver, 15%);
  
}

section.next-prev-bts.ng-scope {
  position: relative;
  z-index: 2000;
}
.next-bt, .prev-bt{
  cursor: pointer;
  color: @white;
  margin: 0;
  background:rgba(0,0,0,0.15);
  text-shadow: #666 0px 0px 3px;
  padding: 20px 0;
  position:absolute;
  top: 100px;
}
.next-bt:hover, .prev-bt:hover{
  color: @white;
  background:fade(@green-dark, 80%);
}
.next-bt {
  position: absolute;
  right: 0;
}

.logo-top a img.md-card-image{
  width: 70px!important;
}

.e-background{
  overflow:hidden;
}

/* background personalizado */

.slide-style{
  background:#47b18d;
}

.slide-style2{
  background:#999999;
}

.slide-style3{
  background:#659af1;
}

.slide-style4{
  background:#dd6749;
}

/* slide 1 */
.content_block_text1{
  color:#133326;
  font-family:arial;

  @media @mobile {
    font-size:25px;
    content: "mobile";
  }
  @media @tablet {
    font-size:30px;
    content: "tablet";
  }
  @media @desktop {
    font-size:40px;
    content: "desktop";
  }
  @media @desktop-xl {
    font-size:40px;
    content: "desktop-xl";
  }
}

.content_block_text2{
  color:#FFFFFF;
  font-size:100px;
  font-family:arial;
  font-weight:bold;
}

.content_block_text3{
  color:#FFFFFF;
  font-size:50px;
  font-family:arial;
  font-weight:bold;
}
.content_block_text4{
  color:#FFFFFF;
  font-size:20px;
  font-family:arial;
  font-weight:bold;
  background:#133326;
  padding:5px 10px;
  border-radius:10px;
  clear: both;
}
.content_block_text5{
  color:#FFFFFF;
  font-size:30px;
  font-family:arial;
  padding:5px 10px;
  border-radius:10px;
}

.content_block_image{
  background-image:url("/assets/images/teste.jpg");
  width:50%;
  height:100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content_block_hand{
    opacity: 0;
    
    img{
      width:400px;
      display: block;

    }
}

.e-tip{
  position:absolute;
  z-index:11000;
  float:left;
  width:260px;
  text-align: center;
  .e-tip-content{
    .e-tip-click{
      height:44px;
      cursor:pointer;
      
      span{
        background-image:url("/assets/images/hostspot.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width:40px;
        height:40px;
        margin:3px 0 0 5px;
        text-align:center;
        display: inline-block;
      }
      h3{
        display:block;
        float:left;
        line-height: 44px;
        margin: 0 0 0 10px;
      }
    }
       
    p{
      background:fade(#000, 50%);
      color:#FFFFFF;
      padding:10px;
      margin:10px 0 0 0;
      line-height:22px;
      width:260px;
    }
  }
}

.content_block_text6{
  color:#6f3425;
  font-size:40px;
  font-family:arial;
  background:#ffd966;
  width:60%;
  padding:10px;
}

.content_block_text7{
  color:#fff;
  font-size:40px;
  font-family:arial;
  background:#999;
  width:60%;
  padding:10px;
}

.content_block_text8{
  color:#fff;
  font-size:29px;
  font-family:arial;
  background:#999;
  width:60%;
  padding:10px;
}

.content_block_text11{
  color:#ffffff;
  font-size:20px;
  font-family:arial;
  width:60%;
  padding:10px;
  line-height:31px;
}

.content_block_text12{
  padding:20px 10px;
  color:#fff;
  font-size:20px;
  font-family:arial;
  background:#b7b7b7;
  width:60%;
}
.content_block_text13{
  padding:20px 10px;
  color:#1c4738;
  font-size:40px;
  font-family:arial;
  width:60%;
}

.content_block_text14{
  padding:20px 10px;
  color:#FFFFFF;
  font-size:30px;
  font-family:arial;
  width:60%;
}


.content_block_text9{
  color:#334d79;
  font-size:50px;
  font-family:arial;
  padding:10px;
}

.e-tab{
  
  margin:0px;
  
  ul{
    margin:0px;
    padding-top:10%;
    width:30%;
    height:600px;
    float:left;
    background:#dd6749;
    list-style: none;
    
    li.selected{
      background:#999999;
    }
    
    li{
      list-style: none;
      cursor:pointer;
      padding:5px;
      
      h1{
        font-size:20px;
        font-weight:none;
      }
      p{
        display:none;
      }
    }
  }
  
  .e-tab-content{
    width:70%;
    height:600px;
    float:left;
    background-image: url("/assets/images/back1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#FFFFFF;
    padding:10% 30px 30px 30px;
    line-height:30px;
  }
  .e-tab-content.selected{
    background:#999999;
  }
}
  
.content_block_popup{
  background-image: url("/assets/images/popup.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width:443px;
  height:239px;
}

.content_block_popup2{
  background-image: url("/assets/images/popup2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width:443px;
  height:239px;
}

.content_block_popup3{
  background-image: url("/assets/images/popup3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width:443px;
  height:239px;
}

.content_block_popup4{
  background-image: url("/assets/images/popup4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width:443px;
  height:239px;
}

.content_block_text10{
  color:#ffffff;
  font-size:20px;
  font-family:arial;
  background:#b7b7b7;
  width:540px;
  padding:10px;
}

.content_block_imagem1{
  background-image: url("/assets/images/img1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width:380px;
  height:268px;
}

.content_block_imagem2{
  background-image: url("/assets/images/img2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width:380px;
  height:268px;
}

.content_block_imagem3{
  background-image: url("/assets/images/logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width:150px;
  height:125px;
}

md-radio-group:focus{
  outline:none !important;
}

:focus{
  outline:none !important;
}

md-radio-button{
  display:block !important;
  
  
  .md-label{
    display:none;
  }
}

.content_text a{
  color:#FFFFFF;
}

/* popup */

.help{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 995px;
  z-index: 11000;

  display: none;

  .close{
    font-family: arial;
    float: right;
    font-size: 30px;
    margin:0 10px 10px 0;    
    color: #fff;
    cursor:pointer;
  }

  .content{
    background: url('/assets/images/help.png');
    width: 995px;
    height: 479px;
    box-shadow: 1px 1px 8px #000000;
    clear: both;
  }

}

.e-loader{
  display: none;  

}

.loader{
  display: none;  
  position: absolute;
  left: 0px;
  top: 0px;
  
}

videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;

    
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 1170px;
        height: 658.125px;
    }

    .videogular-container.audio {
        width: 1170px;
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }

    .videogular-container.audio {
        width: 940px;
        height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}

.e-editor{
  position: absolute;
  z-index: 100000 !important;
  right: 10%;
  top: 20%;
  width: 700px;
  textarea{
    width: 400px;
    height: 400px;
  }  

  .md-e-warn{
    position: absolute;
    top: 80px;
    right: 20px;
    z-index: 100;

    a{
      color: #f44336;
    }
   
  }

  .e-components{
    float: left;   
    width: 130px;
    height: 400px;
    background:#f2f2f2; 
    overflow-x:hidden; 
    
    ul{
      list-style: none;
      padding: 0 20px;
      li{
        
        display: inline-block;
        margin-left: 3px;

        a{
          color:#606271;
          line-height: 40px;
        }
      }
    }


  }

  md-toolbar{
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #3f51b5;

    .md-toolbar-tools {
      h2{
        float: left;
        margin:25px 0 0 0;
      }
      a{
        float: left;
        line-height: 30px;
        margin:15px 0 0 5px;
      }
      input{
        width: 30px;
        text-align: center;
        float: left;
        margin:20px 0 0 10px;
      }
      span.ng-binding{
        float: left;
        margin:25px 0 0 10px;
      }
    }
  }

  md-content.md-default-theme{
    background:none;
    color: #FFF;
  }
  md-content{
    position: relative;
  }

  .plus{
    background-color: #f55b4f;
    position: absolute;
    top: 80px;
    right: 30px;
  }
}

.CodeMirror{
  float: left;

}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }

#menu{
  position: fixed;
  z-index: 2000;
  right: -350px;
  background: rgba(0,0,0,0.8);
  width: 350px!important; 
  height: 100%;
  padding: 30px;
  top: 96px;

  &.over{
    right: 0px;    
  }

  ol{
    
    list-style: none;

    margin: 0;
    padding: 10px 0 10px 10px;

    li{
      margin: 0px;
      padding: 0px;


      a{
        display: block;
        background-color: #333;
        margin: 3px 0;
        padding: 12px 0 12px 20px;
        color: #FFF;
        line-height: 14px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: arial;
        font-size: 16px;
        line-height: 20px;

        &:hover{
          background-color: #555;
          text-decoration: none;
        }
      }

    }
  }
  
}


//adp
.avatar{
  img{
    display: block;
    float: left;
  }
  .content_text{
    display: block;
    float: left;
    background: #FFFFFF;
    width: 300px;
    padding: 10px;
    border: 3px solid #bfbfbf;
    position: relative;
    margin: 0 0 0 30px;

    i{
      display: block;
      width: 31px;
      height: 20px;
      background-image: url("/assets/images/boca_animada2.png");      
      position: absolute;
      left: -162px;
      top:48px;
      -ms-transform: rotate(-30deg); /* IE 9 */
      -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
      transform: rotate(-30deg);

      &.animate{
        -webkit-animation: bruna-play 0.7s steps(8) infinite;
        -moz-animation: bruna-play 0.7s steps(8) infinite;
        -o-animation: bruna-play 0.7s steps(8) infinite;
        animation: bruna-play 0.7s steps(8) infinite;
      }
    }



    span{
      display: block;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-right:25px solid #bfbfbf;
      position: absolute;
      left: -25px;
      top: 16px;
    }
  }
}

.bruna-play{
  from { background-position:    0px; }
  to { background-position: -248px; }
}

@-webkit-keyframes bruna-play {.bruna-play}
@-moz-keyframes bruna-play {.bruna-play}
@-o-keyframes bruna-play {.bruna-play}  
@keyframes bruna-play {.bruna-play}

.adp-red-box{
  background: url('/assets/images/red_opacity.png');
  width: 400px;
  padding: 10px;
  margin: 0 0 0 30px;
  color: #FFF;
  padding: 30px;

  .content_text{
    display: block;
    font-size: 26px;
    p{
      display: block;
      font-size: 14px;
    }
  }
}

.adp-black-box{
  background-color: rgba(120,190,176,0.9);
  width: 400px;
  padding: 10px;
  margin: 0 0 0 30px;
  color: #FFF;
  padding: 30px;

  .content_text{
    display: block;
    font-size: 18px;

    ul{
      li{
        font-size: 14px;
        font-weight: bold;
      }
    }
    
  }
}

.capa{
  overflow:hidden;
  background:url('/assets/images/imagem-capa.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.adp-cover-logo{
  background: url("/assets/images/red_logo_back.png");
  width: 35%;
  padding: 10px;
  color: #FFF;
  padding: 30px;
  height: 150px;
  bottom: 0px;

  img{
    display: block !important;
    margin:17px 0px 0 40%;
    position: relative;
    z-index: 10;
  }

  .content_text{
    display: block;
    span{
      display: block;
      background: url("/assets/images/red_logo_title.png");
      width: 300px;
      height: 300px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      height: 150px;
      width: 256px;
      position: absolute;
      right: -80px;
      top: 0px;
    }
  }
}

.adp-cover-title{
  width: 65%;
  padding: 10px;
  color: #FFF;
  padding: 30px;
  bottom: 90px !important;

  .content_text{
    display: block;
    font-size: 26px;
    position: relative;
    p{
      display: block;
      background: url("/assets/images/red_cover_back.png");
      width: 100%;
      height: 150px;
      position: absolute;
      left: 43px;
      top: -56px;
      padding: 25px 0 0 40px;
    }
    span{
      display: block;
      background: url("/assets/images/red_cover_title.png");
      width: 300px;
      height: 300px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      height: 150px;
      width: 56px;
      position: absolute;
      left: -13px;
      top: -30px;
    }
  }
}
.components-examples{
  display: none;
}
.draggble{
  color: #000;  

  ng-md-icon{
    position: absolute;
    top:-40px;
    left: 45%;
  }
}

.head-docta{
  position: fixed;
  background: #607d8b;
  width: 100%;
  height: 50px;
  top: 0px;
  left: 0px;
  z-index:2000;

  .logo-docta{
    background: #455a64;
    width: 300px;
    height: 50px;
    display: inline-block;
  
    img.md-card-image{
      width: 120px!important;
      margin:10px 0 0 25px;
    }
  }

  .docta-content{
    display: inline-block;

    a{
      margin:10px 0 0 30px;
      color:#FFF;
    }
  }
}


.logo-top{
  float: left;
}
.head-title{
  float: left;
  color:#607d8b;
  p{
    margin: 10px 0 0 0px;
    padding: 0px;
  }
}

.btns-top{
  float: right;
  margin:8px 0 0 0;
}


// injector


  
// endinjector



