<section class="next-prev-bts" flex layout="row" layout-align="left center" ng-controller="NavbarCtrl">
  <div class="help">
    <div class="close" ng-click="close_window()">X</div>
    <div class="content"></div>
  </div>
  <md-toolbar class="c4-toolbar">
    <section flex >
        <div class="logo-top" >
          <a  href="https://c4internet.com.br">
            <img ng-src="assets/images/logo_adp.png" alt="ADP" title="ADP" class="md-card-image" />
          </a>
        </div>
        <div class="head-title"><p ng-bind-html="title"></p></div>
        <div class="btns-top">
          <p class="pages">1/9</p>
          <!--
          <a><i class="md-help md-lg" ng-click="open_window()"></i></a>
          -->
          <a><i class="md-volume-up md-lg"></i></a>
          <a ng-click="open();"><i class="md-menu md-lg"></i></a>
        </div>
      </section> 
  </md-toolbar>
  <a class="prev-bt" ng-click="prev();" style="top:{{nav_top}}px"><i class=" md-keyboard-arrow-left md-3x"></i></a>
  <a class="next-bt" ng-click="next();" style="top:{{nav_top}}px"><i class=" md-chevron-right md-3x"></i></a>
</section>


